// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #f1f1f1;
@semi-light-gray: #ccc;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@black: #000000;

@cyan: #0b99dd;
// @blue: #81a2be;
@blue: #272ae2;
@purple: #775bbb;
@green: #68906c;
@clear-green: #059615;
@red: #cc6666;
@orange: #b97d2d;
@brown: #9e1313;
@light-orange: #f0c674;
@light-orange-2: #e69e11;
@test-color: #15eb10;
